@model UserVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12">
    <form asp-action="@nameof(PassTrackingSystem.Controllers.AdminController.ShowAll)"
          asp-controller="@nameof(PassTrackingSystem.Controllers.AdminController).Replace("Controller", "")"
          id="info-option-group" method="get">
        @await Html.PartialAsync("UpperOptionMenu", @Model)
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="th-sm">id</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Подразделение</th>
                    <th scope="col">Должность</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.userEmployeePairs)
                {
                    <tr>
                        <td>@item.Key.Id</td>
                        <td>@item.Key.UserName</td>
                        <td>@item.Value.LastName</td>
                        <td>@item.Value.Name</td>
                        <td>@item.Value.Patronymic</td>
                        <td>@item.Value.Department.Value</td>
                        <td>@item.Value.Position</td>
                        <td>
                            <a asp-action="@nameof(PassTrackingSystem.Controllers.AdminController.Show)"
                               asp-controller="@nameof(PassTrackingSystem.Controllers.AdminController).Replace("Controller", "")"
                               asp-route-id="@item.Key.Id"
                               class="btn btn-outline-dark">Подробнее</a>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger delete" del-id="@item.Key.Id">
                                Удалить
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @await Html.PartialAsync("Pages", @Model.PageDividorInfo)
    </form>
    <script>
        $('.delete').click(function (e) {
            $.post('@Url.RouteUrl(new { controller = nameof(AdminController).Replace("Controller", ""),
              action = nameof(AdminController.Delete)})', { id: $(this).attr('del-id') }, function () { location.reload()})
              e.preventDefault()
        })
    </script>
</div>
