@model SinglePassVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12">
    <form asp-action="@nameof(PassTrackingSystem.Controllers.SinglePassController.ShowAll)"
          asp-controller="@nameof(PassTrackingSystem.Controllers.SinglePassController).Replace("Controller", "")"
          id="info-option-group" method="get">
        @await Html.PartialAsync("UpperOptionMenu", @Model)
        <input type="hidden" value="@Model.PurposeVisitorId" name="visitorId" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="th-sm">id</th>
                    <th scope="col">Действует с</th>
                    <th scope="col">Действует по</th>
                    <th scope="col">Цель выдачи</th>
                    <th scope="col">Места для посещения</th>
                    <th scope="col">Лицо выдавшее пропуск</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var singlePass in Model.SinglePasses.Items)
                {
                    <tr>
                        <td>@singlePass.Id</td>
                        <td>@singlePass.ValidWith.ToShortDateString()</td>
                        <td>@singlePass.ValitUntil.ToShortDateString()</td>
                        <td>@singlePass.PurposeOfIssuance</td>
                        <td>
                            @foreach (var item in singlePass.StationFacilities)
                            {
                                <text>@item.Value<br></text>
                            }
                        </td>
                        <td>@singlePass.SinglePassIssued.LastName @singlePass.SinglePassIssued.Name @singlePass.SinglePassIssued.Patronymic</td>
                        <td>
                            <a asp-action="@nameof(PassTrackingSystem.Controllers.SinglePassController.SinglePassProcessing)"
                               asp-controller="@nameof(PassTrackingSystem.Controllers.SinglePassController).Replace("Controller", "")"
                               asp-route-id="@singlePass.Id"
                               class="btn btn-outline-dark">Подробнее</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @await Html.PartialAsync("Pages", @Model.SinglePasses.PageDividorInfo)
    </form>

</div>
