<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Station passes</title>
    <meta http-equiv="Cache-Control" content="private">
    @await Html.PartialAsync("Styles")
    @await Html.PartialAsync("_ValidationScriptsPartial")

</head>
<body>
    <input type="hidden" value="@ViewBag.CurrentPage" id="currentPage"/>
    <header class="navbar navbar-expand-md navbar-dark bd-navbar">
        <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
            <img src="/Logo-ru-ng.png" alt="альтернативный текст" style="width:25%; height:25%;">
        </nav>
    </header>
    <nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
        <form class="container-xxl d-flex align-items-md-center" asp-controller="CommonPassInfo", asp-action="CommonPassInfo">
                <div class="input-group ms-3" style="max-width :20%">
                    <button class="btn btn-outline-secondary" type="submit" id="button-pass-search">Поиск</button>
                    <input type="text" class="form-control" placeholder="" data-val="true" data-val-required="error" name="searchId" aria-label="Example text with button addon" aria-describedby="button-addon1">
                </div>
                <div class="dropdown ms-3 flex-grow-1">
                    <select class="form-select align" name="searchType" aria-label="Default select example" style="max-width:40%">
                        <option value="1">Разовый пропуск</option>
                        <option value="2">Временный пропуск</option>
                        <option value="3">Транспортный пропуск</option>
                        <option value="4">Разрешение на съемку</option>
                    </select>
                </div>
                @await Component.InvokeAsync("UpperUserComponent")
        </form>
    </nav>

    <div class="container-xxl my-md-4 bd-layout">
        <aside class="bd-sidebar">
            <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
                <ul class="list-unstyled mb-0 py-3 pt-md-1">
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="true" aria-current="true">
                            Посетитель
                        </button>
                        <div class="collapse show" id="getting-started-collapse">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li>
                                    <a asp-action="@nameof(PassTrackingSystem.Controllers.VisitorFormController.VisitorProcessing)"
                                       asp-controller="@nameof(PassTrackingSystem.Controllers.VisitorFormController).Replace("Controller", "")"
                                       asp-route-id="0" class="d-inline-flex align-items-center rounded"
                                       id="add-VisitorForm">Добавить новый</a>
                                </li>
                                <li>
                                    <a asp-action="@nameof(PassTrackingSystem.Controllers.HomeController.Index)"
                                       asp-controller="@nameof(PassTrackingSystem.Controllers.HomeController).Replace("Controller", "")"
                                       class="d-inline-flex align-items-center rounded" aria-current="page"
                                       id="all-HomeController">Просмотреть всех</a>
                                </li>
                            </ul>
                        </div>
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="true" aria-current="true">
                            Пропуска
                        </button>
                        <div class="collapse show" id="getting-started-collapse">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li class="d-inline-flex align-items-center rounded " aria-current="page">
                                    <a asp-action="@nameof(PassTrackingSystem.Controllers.TemporaryPassController.ShowAll)"
                                       asp-controller="@nameof(PassTrackingSystem.Controllers.TemporaryPassController).Replace("Controller", "")"
                                       id="all-TemporaryPass">Временные пропуска </a>
                                </li>
                                <li class="d-inline-flex align-items-center rounded " aria-current="page">
                                    <a asp-action="@nameof(PassTrackingSystem.Controllers.SinglePassController.ShowAll)"
                                       asp-controller="@nameof(PassTrackingSystem.Controllers.SinglePassController).Replace("Controller", "")"
                                       id="all-SinglePass">
                                        Разовые пропуска
                                    </a>
                                </li>
                                <li class="d-inline-flex align-items-center rounded " aria-current="page">
                                    <a asp-action="@nameof(PassTrackingSystem.Controllers.ShootingPermissionController.ShowAll)"
                                       asp-controller="@nameof(PassTrackingSystem.Controllers.ShootingPermissionController).Replace("Controller", "")"
                                       id="all-ShootingPermission">
                                        Разрешения на съемку
                                    </a>
                                </li>
                                <li class="d-inline-flex align-items-center rounded " aria-current="page">
                                    <a asp-action="@nameof(PassTrackingSystem.Controllers.CarPassController.ShowAll)"
                                       asp-controller="@nameof(PassTrackingSystem.Controllers.CarPassController).Replace("Controller", "")"
                                       id="all-CarPass">
                                        Транспортные пропуска
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    </li>
                    <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#about-collapse" aria-expanded="false">
                        Пользователи
                    </button>
                    
                    <div class="collapse show" id="about-collapse">
                        <ul class="list-unstyled fw-normal pb-1 small">
                            <li class="d-inline-flex align-items-center rounded " aria-current="page">
                                <a asp-action="@nameof(PassTrackingSystem.Controllers.AdminController.Show)"
                                   asp-controller="@nameof(PassTrackingSystem.Controllers.AdminController).Replace("Controller", "")"
                                   id="add-User">
                                    Добавить
                                </a>
                            </li>
                            <li class="d-inline-flex align-items-center rounded " aria-current="page">
                                <a asp-action="@nameof(PassTrackingSystem.Controllers.AdminController.ShowAll)"
                                   asp-controller="@nameof(PassTrackingSystem.Controllers.AdminController).Replace("Controller", "")"
                                   id="all-User">
                                    Просматреть все
                                </a>
                            </li>
                        </ul>
                    </div>
                    <li class="my-3 mx-4 border-top"></li>
                    <li>
                        <a class="d-inline-flex align-items-center rounded">
                            Выйти
                        </a>
                    </li>
                </ul>
            </nav>

        </aside>

        <main class="bd-main order-1">
            <div>
                @RenderBody()
            </div>
        </main>
    </div>


    <footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    </footer>
<script>
    let elem = $('#currentPage').first().val()
    $(`#${elem}`).first().addClass('active')
</script>
</body>
</html>