@model MainPageVM
<div class="container-fluid">
    <div class="row">
        <div class="col-9 mb-3" style="padding-left: 0px;">
            <div class="input-group">
                <button class="btn btn-outline-secondary" type="submit" id="search-pagedevidlist">Поиск</button>
                <select class="form-select" id="inputGroupSelect01" name="SearchСolumn">
                    @foreach (var item in Model.HeadNames)
                    {
                        if (item.Value == Model.Options?.SearchСolumn)
                        {
                            <option selected value="@item.Value">@item.Key</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Key</option>
                        }
                    }
                </select>
                <input type="text" aria-label="Last name" class="form-control" name="SearchValue" value="@Model.Options?.SearchValue">
            </div>
        </div>
    </div>
    <script>
        $('#search-pagedevidlist').click(function (e) {
            $('#current-Page')
                .attr('value', '1');
        })       
    </script>
</div>