@model PassTrackingSystem.ViewModels.OneItemDataVM
@{
    Layout = "";
}
<form asp-controller="@nameof(OneItemDataController).Replace("Controller", "")"
      asp-action="@nameof(OneItemDataController.ShowOneItems)"
      id="info-option-group" method="get">
    @await Html.PartialAsync("UpperOptionMenu", @Model)
    @if (Model.ShowAdvancedFeatures)
    {
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button" id="add-new-item-in-modal">Добавить</button>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th scope="col" class="th-sm">id</th>
                <th scope="col">Значение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OneValues.Items)
            {
                <tr>
                    <th>
                        <input class="form-check-input" type="radio" name="radio-choise" @if (Model.SelectedItem == item.Id) { <text> checked</text> } value="@item.Id">
                    </th>
                    <td class="id-outer">@item.Id</td>
                    <td class="value-outer">@item.Value</td>

                    @if (Model.ShowAdvancedFeatures)
                    {
                        <td><a class="btn btn-outline-dark more-details-inner" data-bs-toggle="modal" href="#modal2" role="button" data-bs-dismiss="modal">Изменить</a></td>
                        <td>
                            <button class="btn btn-outline-danger delete" del-id="@item.Id">
                                Удалить
                            </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("Pages", @Model.OneValues.PageDividorInfo)
</form>
<script>
    $('document').ready(function () {
        $('#ModalLabel').text('@Html.Raw(Model.ExtendMenuHeader)')
    })
</script>