@model MainPageVM

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-action="index" id="info-option-group" method="get">
        @await Html.PartialAsync("UpperOptionMenu", @Model)
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="th-sm">id</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Место работы</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Действующие пропуска</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var visitor in Model.Visitors.Items)
                {
                <tr>
                    <td>@visitor.Id</td>
                    <td>@visitor.LastName</td>
                    <td>@visitor.Name</td>
                    <td>@visitor.Patronymic</td>
                    <td>@visitor.PlaceOfWork</td>
                    <td>@visitor.Position</td>
                    <td>-</td>
                    <td><a asp-action="@nameof(PassTrackingSystem.Controllers.VisitorFormController.VisitorProcessing)"
                           asp-controller="@nameof(PassTrackingSystem.Controllers.VisitorFormController).Replace("Controller", "")"
                           asp-route-id ="@visitor.Id"
                           class="btn btn-outline-dark">Подробнее</a></td>
                </tr>

                }
            </tbody>
        </table>
        @await Html.PartialAsync("Pages", @Model.Visitors.PageDividorInfo)
    </form>

</div>
