@model VisitorFormVM
@await Html.PartialAsync("_OneItemSupportExtension", new ModalWindowVM())
<form method="get">
    <div class="container-fluid">
        <input type="hidden" asp-for="Visitor.Id" />
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Visitor.Name" class="form-label">Имя</label>
                <input asp-for="Visitor.Name" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Visitor.LastName" class="form-label">Фамилия</label>
                <input asp-for="Visitor.LastName" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Visitor.LastName" class="form-label">Отчество</label>
                <input asp-for="Visitor.Patronymic" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label asp-for="Visitor.PlaceOfWork" class="form-label">Место работы</label>
                <textarea asp-for="Visitor.PlaceOfWork" class="form-control optional-field" rows="2"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label asp-for="Visitor.Position" class="form-label">Должность</label>
                <textarea asp-for="Visitor.Position" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-4">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                Документ
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="background-color: rgb(253, 253, 253);">
                            <div class="accordion-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <input type="hidden" asp-for="@Model.Visitor.Document.Id" value="@Model.Visitor?.Document?.Id" />
                                        <div class="col-md-6">
                                            <label asp-for="Visitor.Document.Series" class="form-label">Серия</label>
                                            <input asp-for="Visitor.Document.Series" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="Visitor.Document.Number" class="form-label">Номер</label>
                                            <input asp-for="Visitor.Document.Number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label asp-for="Visitor.Document.DateOfIssue" class="form-label">Дата выдачи</label>
                                            <input asp-for="Visitor.Document.DateOfIssue" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label asp-for="Visitor.Document.DocumentType.Value" class="form-label">
                                                Тип документа
                                            </label>
                                            <div class="input-group">
                                                <select class="form-select combobox-ontime-loader" selected-value="@Model?.Visitor?.Document?.DocumentTypeId.ToString()" id="DocumentType"
                                                        aria-label="Example select with button addon" asp-for="@Model.Visitor.Document.DocumentTypeId">
                                                </select>
                                                <button class='btn btn-outline-secondary one-item-data-request'
                                                        extend-button-purpose="DocumentType"
                                                        data-bs-target="#exampleModal"
                                                        data-bs-toggle="modal" type="button">
                                                    <img src='/more-deteils.png'
                                                         style="width: 21px;">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="Visitor.Document.IssuingAuthority.Value" class="form-label">Орган выдавший документ</label>
                                            <div class="input-group">
                                                <select class="form-select combobox-ontime-loader" selected-value="@Model?.Visitor?.Document?.IssuingAuthorityId.ToString()" id="IssuingAuthority"
                                                        aria-label="Example select with button addon" asp-for="@Model.Visitor.Document.IssuingAuthorityId">
                                                </select>
                                                <button class='btn btn-outline-secondary one-item-data-request'
                                                        extend-button-purpose="IssuingAuthority"
                                                        data-bs-target="#exampleModal"
                                                        data-bs-toggle="modal" type="button">
                                                    <img src='/more-deteils.png'
                                                         style="width: 21px;">
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-3">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">Временный пропуск</h5>
                        <div class="card-text">
                            <p>Всего пропусков: @Model.AllTemporaryPasses</p>
                            <p>Действующих: @Model.ValidTemporaryPasses</p>
                            <p>Действует до: @Model.MaximumUntilTemporaryPasses</p>
                        </div>
                        <a href="#" class="card-link">Добавить</a>
                        <a asp-controller="TemporaryPass" asp-action="ShowAll" asp-route-visitorId="@Model.Visitor.Id" class="card-link">Просматреть все</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">Разовый пропуск</h5>
                        <div class="card-text">
                            <p>Всего пропусков: @Model.AllSinglePasses</p>
                            <p>Действующих: @Model.ValidSinglePasses</p>
                            <p>Действует до: @Model.MaximumUntilSinglePasses</p>
                        </div>
                        <a href="#" class="card-link">Добавить</a>
                        <a asp-controller="TemporaryPass" asp-action="ShowAll" asp-route-visitorId="@Model.Visitor.Id" class="card-link">Просматреть все</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">Транспортный паспорт</h5>
                        <div class="card-text">
                            <p>Всего пропусков: @Model.AllCarPasses</p>
                            <p>Действующих: @Model.ValidCarPasses</p>
                            <p>Действует до: @Model.MaximumUntilCarPasses</p>
                        </div>
                        <a href="#" class="card-link">Добавить</a>
                        <a asp-controller="TemporaryPass" asp-action="ShowAll" asp-route-visitorId="@Model.Visitor.Id" class="card-link">Просматреть все</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">Разрешение на съемку</h5>
                        <div class="card-text">
                            <p>Всего пропусков: @Model.AllShootingPermissions</p>
                            <p>Действующих: @Model.ValidShootingPermissions</p>
                            <p>Действует до: @Model.MaximumUntilShootingPermissions</p>
                        </div>
                        <a href="#" class="card-link">Добавить</a>
                        <a asp-controller="TemporaryPass" asp-action="ShowAll" asp-route-visitorId="@Model.Visitor.Id" class="card-link">Просматреть все</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <button type="submit" class="btn btn-success">Отправить</button>
        <button type="reset" class="btn btn-danger">Очистить</button>
    </div>
</form>


